body  {
    text-align: center;
    background-image: url('https://media.tenor.com/cNnsPB7dYfYAAAAM/dancing-dog.gif');
    background-size: cover;
    color:white;
    background-position: top;
}